<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lanqiao.system.mapper.FAddressMapper">

    <resultMap type="FAddress" id="FAddressResult">
        <result property="addressId"    column="address_id"    />
        <result property="adderssUsersId"    column="adderss_users_id"    />
        <result property="addressSort"    column="address_sort"    />
        <result property="addressName"    column="address_name"    />
        <result property="addressSex"    column="address_sex"    />
        <result property="addressPhone"    column="address_phone"    />
        <result property="addressLabel"    column="address_label"    />
        <result property="addressTude"    column="address_tude"    />
        <result property="addressLatit"    column="address_latit"    />
        <result property="addressDetail"    column="address_detail"    />
        <result property="addressLevel"    column="address_level"    />
    </resultMap>

    <sql id="selectFAddressVo">
        select address_id, adderss_users_id, address_sort, address_name, address_sex, address_phone, address_label, address_tude, address_latit, address_detail,address_level from f_address
    </sql>

    <select id="selectFAddressList" parameterType="FAddress" resultMap="FAddressResult">
        <include refid="selectFAddressVo"/>
        <where>
            <if test="adderssUsersId != null "> and adderss_users_id = #{adderssUsersId} </if>
            <if test="addressName != null  and addressName != ''"> and address_name like concat('%', #{addressName}, '%') </if>
            <if test="addressPhone != null  and addressPhone != ''"> and address_phone = #{addressPhone} </if>
            <if test="addressLabel != null "> and address_label = #{addressLabel} </if>
            <if test="adderssUsersId != null ">ORDER BY address_sort ASC </if>
        </where>
    </select>

    <select id="selectFAddressByAddressId" parameterType="Long" resultMap="FAddressResult">
        <include refid="selectFAddressVo"/>
        where address_id = #{addressId}
    </select>

    <insert id="insertFAddress" parameterType="FAddress" useGeneratedKeys="true" keyProperty="addressId">
        insert into f_address
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="adderssUsersId != null">adderss_users_id,</if>
            <if test="addressSort != null">address_sort,</if>
            <if test="addressName != null and addressName != ''">address_name,</if>
            <if test="addressSex != null">address_sex,</if>
            <if test="addressPhone != null and addressPhone != ''">address_phone,</if>
            <if test="addressLabel != null">address_label,</if>
            <if test="addressTude != null">address_tude,</if>
            <if test="addressLatit != null">address_latit,</if>
            <if test="addressDetail != null and addressDetail != ''">address_detail,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="adderssUsersId != null">#{adderssUsersId},</if>
            <if test="addressSort != null">#{addressSort},</if>
            <if test="addressName != null and addressName != ''">#{addressName},</if>
            <if test="addressSex != null">#{addressSex},</if>
            <if test="addressPhone != null and addressPhone != ''">#{addressPhone},</if>
            <if test="addressLabel != null">#{addressLabel},</if>
            <if test="addressTude != null">#{addressTude},</if>
            <if test="addressLatit != null">#{addressLatit},</if>
            <if test="addressDetail != null and addressDetail != ''">#{addressDetail},</if>
        </trim>
    </insert>

    <update id="updateFAddress" parameterType="FAddress">
        update f_address
        <trim prefix="SET" suffixOverrides=",">
            <if test="adderssUsersId != null">adderss_users_id = #{adderssUsersId},</if>
            <if test="addressSort != null">address_sort = #{addressSort},</if>
            <if test="addressName != null and addressName != ''">address_name = #{addressName},</if>
            <if test="addressSex != null">address_sex = #{addressSex},</if>
            <if test="addressPhone != null and addressPhone != ''">address_phone = #{addressPhone},</if>
            <if test="addressLabel != null">address_label = #{addressLabel},</if>
            <if test="addressTude != null">address_tude = #{addressTude},</if>
            <if test="addressLatit != null">address_latit = #{addressLatit},</if>
            <if test="addressDetail != null and addressDetail != ''">address_detail = #{addressDetail},</if>
        </trim>
        where address_id = #{addressId}
    </update>

    <delete id="deleteFAddressByAddressId" parameterType="Long">
        delete from f_address where address_id = #{addressId}
    </delete>

    <delete id="deleteFAddressByAddressIds" parameterType="String">
        delete from f_address where address_id in
        <foreach item="addressId" collection="array" open="(" separator="," close=")">
            #{addressId}
        </foreach>
    </delete>

    <select id="selectUsersIdByType" parameterType="FAddress" resultMap="FAddressResult">
        <include refid="selectFAddressVo"/>
        where adderss_users_id = #{usersId} ORDER BY address_sort ASC
    </select>

    <select id="selectaddressIdByType" parameterType="FAddress" resultMap="FAddressResult">
        <include refid="selectFAddressVo"/>
        where address_id in
        <foreach item="addressId" collection="list" open="(" separator="," close=")">
            #{addressId}
        </foreach>
    </select>
</mapper>