<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lanqiao.system.mapper.FadvertisementMapper">
    <resultMap type="Fadvertisement" id="FadvertisementResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="goodsId"    column="goods_id"    />
        <result property="img"    column="img"    />
        <result property="price"    column="price"    />
    </resultMap>

    <sql id="selectFadvertisementVo">
        select id, name, goods_id, img, price from f_advertisement
    </sql>

    <select id="selectFadvertisementLists" parameterType="Fadvertisement" resultMap="FadvertisementResult">
        <include refid="selectFadvertisementVo"/>
        <where>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
        </where>
    </select>

    <select id="selectFadvertisementById" parameterType="Long" resultMap="FadvertisementResult">
        <include refid="selectFadvertisementVo"/>
        where id = #{id}
    </select>

    <insert id="insertFadvertisement" parameterType="Fadvertisement">
        insert into f_advertisement
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="name != null">name,</if>
            <if test="goodsId != null">goods_id,</if>
            <if test="img != null">img,</if>
            <if test="price != null">price,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="name != null">#{name},</if>
            <if test="goodsId != null">#{goodsId},</if>
            <if test="img != null">#{img},</if>
            <if test="price != null">#{price},</if>
        </trim>
    </insert>

    <update id="updateFadvertisement" parameterType="Fadvertisement">
        update f_advertisement
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="goodsId != null">goods_id = #{goodsId},</if>
            <if test="img != null">img = #{img},</if>
            <if test="price != null">price = #{price},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteFadvertisementById" parameterType="Long">
        delete from f_advertisement where id = #{id}
    </delete>

    <delete id="deleteFadvertisementByIds" parameterType="String">
        delete from f_advertisement where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectFadvertisementList"  parameterType="Fadvertisement" resultMap="FadvertisementResult">
        <include refid="selectFadvertisementVo"/>
        <where>
            <if test="fadvertisementId != null "> and id = #{fadvertisementId} </if>
            <if test="fadvertisementName != null  and addressName != ''"> and name like concat('%', #{fadvertisementName}, '%') </if>
            <if test="goodsId != null "> and goods_id = #{goodsId} </if>
            <if test="fadvertisementImg != null  and addressPhone != ''"> and img = #{fadvertisementImg} </if>
            <if test="fadvertisementprice != null "> and price = #{fadvertisementprice} </if>
        </where>
    </select>
</mapper>