<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lanqiao.system.mapper.FMembersMapper">

    <resultMap type="FMembers" id="FMembersResult">
        <result property="memberId"    column="member_id"    />
        <result property="usersId"    column="users_id"    />
        <result property="memberLevel"    column="member_level"    />
        <result property="memberIntegration"    column="member_integration"    />
    </resultMap>

    <sql id="selectFMembersVo">
        select member_id, users_id, member_level, member_integration from f_members
    </sql>

    <select id="selectFMembersList" parameterType="FMembers" resultMap="FMembersResult">
        <include refid="selectFMembersVo"/>
        <where>
            <if test="usersId != null "> and users_id = #{usersId}</if>
            <if test="memberLevel != null "> and member_level = #{memberLevel}</if>
        </where>
    </select>

    <select id="selectFMembersByMemberId" parameterType="Long" resultMap="FMembersResult">
        <include refid="selectFMembersVo"/>
        where member_id = #{memberId}
    </select>

    <insert id="insertFMembers" parameterType="FMembers">
        insert into f_members
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="memberId != null">member_id,</if>
            <if test="usersId != null">users_id,</if>
            <if test="memberLevel != null">member_level,</if>
            <if test="memberIntegration != null">member_integration,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="memberId != null">#{memberId},</if>
            <if test="usersId != null">#{usersId},</if>
            <if test="memberLevel != null">#{memberLevel},</if>
            <if test="memberIntegration != null">#{memberIntegration},</if>
        </trim>
    </insert>

    <update id="updateFMembers" parameterType="FMembers">
        update f_members
        <trim prefix="SET" suffixOverrides=",">
            <if test="usersId != null">users_id = #{usersId},</if>
            <if test="memberLevel != null">member_level = #{memberLevel},</if>
            <if test="memberIntegration != null">member_integration = #{memberIntegration},</if>
        </trim>
        where member_id = #{memberId}
    </update>

    <delete id="deleteFMembersByMemberId" parameterType="Long">
        delete from f_members where member_id = #{memberId}
    </delete>

    <delete id="deleteFMembersByMemberIds" parameterType="String">
        delete from f_members where member_id in
        <foreach item="memberId" collection="array" open="(" separator="," close=")">
            #{memberId}
        </foreach>
    </delete>
</mapper>