<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lanqiao.system.mapper.FOrderPartslistMapper">
    
    <resultMap type="FOrderPartslist" id="FOrderPartslistResult">
        <result property="id"    column="id"    />
        <result property="goodsId"    column="goods_id"    />
        <result property="orderId"    column="order_id"    />
        <result property="goodsNum"    column="goods_num"    />
        <result property="ordersPayStatuds"    column="orders_pay_statuds"   />
        <result property="ordersStatus"    column="orders_status"   />
    </resultMap>


    <sql id="selectFOrderPartslistVo">
        select id, goods_id, order_id, goods_num from f_order_partslist
    </sql>

    <select id="selectFOrderPartslistList" parameterType="FOrderPartslist" resultMap="FOrderPartslistResult">
        <include refid="selectFOrderPartslistVo"/>
        <where>  
            <if test="goodsId != null "> and goods_id = #{goodsId}</if>
            <if test="orderId != null "> and order_id = #{orderId}</if>
            <if test="goodsNum != null "> and goods_num = #{goodsNum}</if>
        </where>
    </select>

    <select id="selectFOrderPartslistById" parameterType="Long" resultMap="FOrderPartslistResult">
        <include refid="selectFOrderPartslistVo"/>
        where id = #{id}
    </select>

    <insert id="insertFOrderPartslist" parameterType="FOrderPartslist" useGeneratedKeys="true" keyProperty="id">
        insert into f_order_partslist
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="goodsId != null">goods_id,</if>
            <if test="orderId != null">order_id,</if>
            <if test="goodsNum != null">goods_num,</if>
            <if test="ordersStatus != null">orders_status</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="goodsId != null">#{goodsId},</if>
            <if test="orderId != null">#{orderId},</if>
            <if test="goodsNum != null">#{goodsNum},</if>
            <if test="ordersStatus != null">#{ordersStatus}</if>
         </trim>
    </insert>

    <update id="updateFOrderPartslist" parameterType="FOrderPartslist">
        update f_order_partslist
        <trim prefix="SET" suffixOverrides=",">
            <if test="goodsId != null">goods_id = #{goodsId},</if>
            <if test="orderId != null">order_id = #{orderId},</if>
            <if test="goodsNum != null">goods_num = #{goodsNum},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteFOrderPartslistById" parameterType="Long">
        delete from f_order_partslist where id = #{id}
    </delete>

    <delete id="deleteFOrderPartslistByIds" parameterType="String">
        delete from f_order_partslist where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectFOrderPartslist" parameterType="FOrderPartslist" resultMap="FOrderPartslistResult">
        select fp.id,fg.name as name,fg.description,fp.goods_num,fg.price,fp.order_id,fg.coding,fg.specification,fg.image,orders_pay_statuds,fp.orders_status  from f_goods fg
        LEFT JOIN f_order_partslist fp  on fp.goods_id = fg.id
        LEFT JOIN f_ordeers fo  on fp.order_id = fo.orders_number where fp.order_id = #{orderId}
    </select>

    <update id="updateOrdersStatus">
        update f_order_partslist set orders_status = 3 where id = #{PartListId}
    </update>
</mapper>
